.container {
    display: flex;
    flex-direction: column;

    .title {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}