@import url(../../style/variable.less);
@import url(../../style/tool.less);

.top {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .titleIndex {
        color: @subText;
        font-size: 14px;
    }
}

.removeBtn {
    .resetBtn;
    .commonButton;
    color: @errorText;
    border-color: @errorText;
    padding: 4px 8px;

    .icon {
        font-size: 16px;
        margin-right: 2px;
        fill: @errorText;
    }
}