.btn {
    cursor: pointer;
    opacity: .5;
    padding: 2px 6px;
    border-radius: 2px;
    height: 24px;

    &:hover {
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    }

    >img {
        width: 18px;
        height: 18px; 
    }

    &.active {
        opacity: 1;
    }
}
